@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito", sans-serif;
  background-color: #b59191;
  color: white;
}

* {
  box-sizing: border-box;
}

[data-overlay-container="true"] {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
